<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Investir nos Estudos</title>
    <link rel="stylesheet" href="/static/styles/estilo8.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="/static/assets/def.mp4" type="video/mp4">
        </video>
        </div>
 
        <h1><span class="titulo" >Como Investir para comprar um</span> Carro</h1>
        <p>Dicas para comprar um Carro (exemplo: popular por R$ 60 mil) </p>
        <p><strong>Importante:</strong>São valores estimados, você pode fazer as alterações necessárias conforme sua necessidade e objetivo de compra.</p>
        <hr class="linha1">

    <main class="geral">
        <h2>1. Pesquise opções vantajosas</h2>
        <p>O financiamento é o caminho escolhido por muitos. Porém, com a taxa básica fica ainda mais caro pegar
        dinheiro emprestado nos bancos. Portanto,  ativos de renda fixa costumam ser indicados, já que ações, fundos
        imobiliários e outros instrumentos de renda variável são mais arriscados e de comportamento menos previsível.
        A regra é proteger seu dinheiro da inflação correndo o menor risco possível. Por causa do avanço dos preços,
        analistas sugerem que os interessados busquem ativos atrelados ao IPCA (Índice Nacional de Preços ao Consumidor
        Amplo) para investir os recursos voltados à compra do carro novo. Esses papéis oferecem uma taxa de juros fixada
        no momento da aplicação mais a correção pela inflação do período.</p>
        <blockquote>“Ao planejar uma compra, muitos cometem o erro de pensar somente no valor atual do bem, mas é preciso considerar a inflação. Um carro que custa R$ 60 mil hoje pode não ter o mesmo preço em cinco anos”, explica analista-chefe da VG Research.</blockquote>
 
        <h2>2. Faça análises e simulações</h2>
        <p>De maneira exemplificativa, foi realizado uma simulação, na qual considerou-se investimentos que rendessem 6,17% ao ano, mais a variação do IPCA.
            Também aplicou uma expectativa de inflação de 5% ao ano sobre o valor de R$ 60 mil. Afinal, se o carro encarecer nos próximos anos,
             ter esse valor investidor não seria suficiente para comprar um carro à vista.</p>
             <table class="tabela">
                <thead>
                <tr>
                <th>Prazo de investimento</th>
                <th>Aporte mensal para conquistar R$ 60 mil</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>1 ano</td>
                <td>R$ 4.864</td>
                </tr>
                <tr>
                <td>2 anos</td>
                <td>R$ 2.359</td>
                </tr>
                <tr>
                <td>3 anos</td>
                <td>R$ 1.525</td>
                </tr>
                <tr>
                <td>4 anos</td>
                <td>R$ 1.109</td>
                </tr>
                </tbody>
                </table>
        
 
        <h2>3. Cuidado com o prazo de investimento</h2>
        <p>É importante atentar para o vencimento dos títulos de renda fixa antes de investir,
        especialmente no crédito privado, onde a liquidez é reduzida. Para quem pensa em comprar um carro
        daqui a dois anos, investir em um CDB que vence em 2026 vai gerar um descasamento. Em geral, é importante
         se atentar aos detalhes para não realizar um investimento com alto riscos.</p>

 
        <h2>4. Faça uma avaliação do imóvel</h2>
        <p>Antes de fechar o negócio, é fundamental fazer uma avaliação do imóvel. Esse é um relatório que avalia as condições do local e determina o valor real da residência. É com ele que seu financiamento será de fato aprovado.</p>
        
        <h2>5. Verifique impostos e documentação</h2>
        <p>Antes de fechar o negócio, é importante verificar toda a documentação do imóvel, incluindo registro no cartório,
             a matrícula, Certidão de Inteiro Teor e a Certidão Negativa de Déditos.
             Além disso, também procure estar ciente dos impostos envolvidos na compra da propriedade,
             como o Imposto de Transmissão de Bens Imóveis (ITBI) e o Imposto Predial e Territorial Urbano (IPTU).</p>
        
        <h2>6. Assine o contrato de compra e venda</h2>
        Depois de de negociar o preço e fazer a avaliação, a próxima etapa é assinar o contrato de compra e venda.
        Esse é documento legal que formaliza a compra do imóvel.
        <p><strong>Lembre-se:</strong>leia todas as cláusulas antes de assinar!.</p>

        <h2>7.  Assine a escritura e o registro</h2>
        <p>Depois de pagar o financiamento, você já poderá assinar a esctirua e o registro e finalmente transferir a
            propriedade do imóvel para o seu nome.
            Em seguida, tudo liberado para você se mudar!</p>
    
        <h2>8. Se atente aos documentos necessários:</h2>
        <ul>
            <li><strong>Documentos pessoais:</strong> RG, CPF, comprovante de endereço e comprovante de estado civil;</li>
            <li><strong>Documentos financeiros:</strong>comprovante de renda e declaração de imposto de renda;</li>
            <li><strong>Documentos do imóvel:</strong> registro no cartório, matrícula do imóvel, Certidão de Inteiro Teor e Certidão Negativa de Débitos.</li>
        </ul>
    </main>
 
</body>
</html>