<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Investir nos Estudos</title>
    <link rel="stylesheet" href="/static/styles/estilo7.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="/static/assets/def.mp4" type="video/mp4">
        </video>
        </div>
 
        <h1><span class="titulo">Como Investir para comprar um</span> Imóvel</h1>
        <p>Dicas práticas para alcançar seu objetivo de vida</p>
        <hr class="linha1">

    <main class="geral">
        <h2>1. Defina seu orçamento</h2>
        <p>O primeiro passo é definir o orçamento disponível. É isso que vai te ajudar a definir se é possível 
            comprar à vista ou se será necessário contratar um financiamento imobiliário, por exemplo.
            Para isso, leve em consideração sua renda, despesas fixas e os objetivos financeiros para não se
            comprometer mais do que o necessário!</p>
        <p><strong>Dado importante:</strong>A vantagem de definir o orçamento é restringir as opções e evitar gastos desnecessários.</p>
 
        <h2>2. Pesquise o mercado imobiliário</h2>
        <p>Depois de definir seu orçamento, é hora de começar a explorar o mercado imobiliário. Aqui, é importante
        pesquisar imóveis com base no orçamento disponível e vasculhar seus bairros favoritos.
        Dessa forma, esse é momento de dar atenção para detalhes como localização, tamanho, estrutura,
        segurança local e, é claro, as condições do imóvel.</p>
        <blockquote>"Comprar uma casa é uma decisão importante. Por isso, não tenha pressa e tome o seu tempo para escolher o imóvel certo."</blockquote>
 
        <h2>3. Consiga a aprovação de um financiamento</h2>
        <p>Se você não tem todo o dinheiro para comprar a casa à vista, será necessário obter um financiamento
            imobiliário, que é uma linha de crédito utilizada especificamente para a quisição de um imóvel.
            No geral, a principal característica deste tipo de linha de crédito é facilitar a aquisição da casa 
            própria. Assim, a residência pode ser nova ou usada, e deve estar localizada em qualquer cidade brasileira.</p>

 
        <h2>4. Faça uma avaliação do imóvel</h2>
        <p>Antes de fechar o negócio, é fundamental fazer uma avaliação do imóvel. Esse é um relatório que avalia as condições do local e determina o valor real da residência. É com ele que seu financiamento será de fato aprovado.</p>
        
        <h2>5. Verifique impostos e documentação</h2>
        <p>Antes de fechar o negócio, é importante verificar toda a documentação do imóvel, incluindo registro no cartório,
             a matrícula, Certidão de Inteiro Teor e a Certidão Negativa de Déditos.
             Além disso, também procure estar ciente dos impostos envolvidos na compra da propriedade,
             como o Imposto de Transmissão de Bens Imóveis (ITBI) e o Imposto Predial e Territorial Urbano (IPTU).</p>
        
        <h2>6. Assine o contrato de compra e venda</h2>
        <p>Depois de de negociar o preço e fazer a avaliação, a próxima etapa é assinar o contrato de compra e venda.
        Esse é documento legal que formaliza a compra do imóvel.</p>
        <p><strong>Lembre-se:</strong>leia todas as cláusulas antes de assinar!.</p>

        <h2>7.  Assine a escritura e o registro</h2>
        <p>Depois de pagar o financiamento, você já poderá assinar a esctirua e o registro e finalmente transferir a
            propriedade do imóvel para o seu nome.
            Em seguida, tudo liberado para você se mudar!</p>
    
        <h2>8. Se atente aos documentos necessários:</h2>
        <ul>
            <li><strong>Documentos pessoais:</strong> RG, CPF, comprovante de endereço e comprovante de estado civil;</li>
            <li><strong>Documentos financeiros:</strong>comprovante de renda e declaração de imposto de renda;</li>
            <li><strong>Documentos do imóvel:</strong> registro no cartório, matrícula do imóvel, Certidão de Inteiro Teor e Certidão Negativa de Débitos.</li>
        </ul>
    </main>
 
</body>
</html>