<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investimentos: Renda Fixa x Renda Variável</title>
    <link rel="stylesheet" href="/static/styles/estilo4.css">
</head>
<body>
        <!-- Cabeçalho -->
  <header>
    <nav class="navegacao">
      <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/index">Renda fixa</a></li>
        <li><a href="/variavel">Renda variável</a></li>
        <li><a href="/comparacao">Comparação</a></li>
        <li><a href="/educacao">Educação financeira</a></li>
      </ul>
    </nav>
  </header>
      <main class="geral">
        <h1 class="titulo2">
          Renda Fixa <span class="titulo">ou</span> Variável:<span class="titulo"> Qual é a melhor</span><br>
          <span class="destaque">para você?</span>
          <p>Renda Fixa ou Variável? Descubra a melhor opção para você hoje e comece a fazer seu dinheiro crescer.</p>
        </h1>        
      </main>
      <hr class="linha1">

        <div class="conteiner">
          <p>A principal diferença entre “renda fixa” e “renda variável” diz respeito 
              à previsibilidade do investimento. Os ativos de renda fixa têm critérios de 
              rentabilidade e prazo definidos no momento da aplicação, o que não ocorre 
              com a renda variável. Por outro lado, a renda variável não ser previsível é 
              justamente um dos seus maiores atrativos, diante da possibilidade de ganhos ainda 
              maiores que crescem junto com o risco.Indeciso sobre qual é o melhor caminho? A boa 
              notícia é que você não precisa escolher entre os dois. Renda fixa e variável andam 
              lado a lado, em proporções que vão variar de acordo com o perfil do investidor, seus 
              objetivos e tolerância a riscos, podendo inclusive mudar ao longo da vida.</p>
        </div>
    </div>
    <section class="comparacao">
      <h2 class="titulo-comparacao">Renda Fixa x Renda Variável</h2>
      <p class="subtitulo-comparacao">Qual a melhor opção para o seu dinheiro?</p>
      <div class="tabela-comparacao">
        <div class="coluna fixa">
          <h3>Fixa</h3>
          <ul>
            <li>Mais seguro</li>
            <li>Rentabilidade menor</li>
            <li>Com garantias</li>
            <li>Maior parcela do portfólio</li>
            <li>Empréstimo</li>
            <li>Tesouro Direto, CDB, LCI etc.</li>
          </ul>
        </div>
        <div class="coluna variavel">
          <h3>Variável</h3>
          <ul>
            <li>Mais arriscado</li>
            <li>Rentabilidade maior</li>
            <li>Sem garantias</li>
            <li>Menor parcela do portfólio</li>
            <li>Sociedade/propriedade</li>
            <li>Ações, moedas, robôs etc.</li>
          </ul>
        </div>
      </div>
    </section>
</body>
</html>