<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Financeira</title>
    <link rel="stylesheet" href="/static/styles/estilo5.css">
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <nav class="navegacao">
      <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/index">Renda fixa</a></li>
        <li><a href="/variavel">Renda variável</a></li>
        <li><a href="/comparacao">Comparação</a></li>
        <li><a href="/educacao">Educação financeira</a></li>
      </ul>
    </nav>
  </header>
      <img src="/static/assets/porco_2.png" alt="Imagem do cofrinho" class="piggy-bank">
    <main>
        <h1 class="titulo_tudo">Transforme sua vida <span class="titulo">financeira</span> com conhecimento!</h1>
        <p>A educação é o passaporte para o futuro; quem se prepara hoje, conquista amanhã.</p>
        <hr class="linha1">
    </main>

    <section class="intro">
        <p>Bem-vindo à nossa página de Educação Financeira! Aqui você vai aprender tudo o que precisa para tomar decisões financeiras inteligentes, sair das dívidas, investir seu dinheiro e planejar um futuro financeiro mais seguro e tranquilo.</p>
    </section>

    <div class="educa">
      <h1>Vídeos Educativos</h1>
    </div>
    <hr class="linha2">

    <section class="cursos">
        <div class="pessoal">
            <h2>Educação financeira <span class="titulo_curso">Pessoal</span></h2>
            <video src="/static/assets/pessoal.mp4" controls width="300px"></video>
            <p>A educação pessoal refere-se ao processo de desenvolvimento individual de uma pessoa, 
              que envolve a aprendizagem, o desenvolvimento e a aquisição das habilidades e capacidades 
              ao longo da vida. O objetivo da educação pessoal é promover a formação de um indivíduo mais 
              consciente, capacitado para tomar decisões responsáveis e alcançar os seus objetivos de vida.</p>
        </div>

        <div class="familiar">
            <h2>Educação financeira <span class="titulo_curso">Familiar</span></h2>
            <video src="/static/assets/familiar.mp4" controls width="300px"></video>
            <p>A educação financeira familiar é essencial para promover estabilidade econômica e 
              alcançar metas em conjunto. Ela envolve práticas como planejamento orçamentário, 
              controle de gastos e consumo consciente, ajudando a equilibrar receitas e despesas 
              e a prevenir dívidas excessivas. Ao adotar hábitos saudáveis, a família constrói 
              uma relação mais equilibrada com as finanças, garantindo maior segurança e qualidade 
              de vida no presente e no futuro.</p>
        </div>

        <div class="empresarial">
            <h2>Educação financeira <span class="titulo_curso">Empresarial</span></h2>
            <video src="/static/assets/financeira.mp4" controls width="300px"></video>
            <p>A educação financeira empresarial é o conjunto de conhecimentos e habilidades 
              necessários para gerir o dinheiro de forma mais inteligente, ajudando as pessoas a 
              tomar decisões financeiras consistentes. A educação financeira empresarial envolve 
              análise financeira, planejamento, investimentos, endividamento, poupança e exportação.</p>
        </div>
    </section>
</body>
</html>